# MAC things
.nosync
.DS_Store
**/.DS_Store
*.icloud
**/*.icloud

.gcda
.gcno
.info
.gcov
.vscode/
**/.vscode/*
.pio/
**/.pio/*
**/.gitignore
*.out
*.log
/Examples/Projects/NUCLEO-G431KB/Button/.mxproject
/Examples/Projects/NUCLEO-G431KB/Button/Button.gpdsc
/Examples/Projects/NUCLEO-L432KC/Button/Button.gpdsc
/Examples/Projects/NUCLEO-L432KC/Button/.mxproject
/Examples/Projects/NUCLEO-L432KC/Gate/.mxproject
/Examples/Projects/NUCLEO-L432KC/Gate/Gate.gpdsc
/Examples/Projects/NUCLEO-L432KC/Led/Led.gpdsc
/Examples/Projects/NUCLEO-L432KC/Led/.mxproject
/Examples/Projects/STM32F4-discovery/Button/.mxproject
/Examples/Projects/STM32F4-discovery/Button/Button.gpdsc
/Examples/Projects/STM32F4-discovery/Gate/.mxproject
/Examples/Projects/STM32F4-discovery/Gate/Gate.gpdsc
/Examples/Projects/SAMD21XPLAINED/Bootloader/firmware/luos_bootloader_samd21j18a.X/build/
/Examples/Projects/SAMD21XPLAINED/Bootloader/firmware/luos_bootloader_samd21j18a.X/.generated_files/
/Examples/Projects/SAMD21XPLAINED/Bootloader/firmware/luos_bootloader_samd21j18a.X/dist/