# MAC things
.nosync
.DS_Store
**/.DS_Store
*.icloud
**/*.icloud

.gcda
.gcno
.info
.gcov
.vscode/
**/.vscode/*
.pio/
**/.pio/*
**/.gitignore
*.out
*.log
/examples/projects/NUCLEO-G431KB/button/.mxproject
/examples/projects/NUCLEO-G431KB/button/Button.gpdsc
/examples/projects/NUCLEO-L432KC/button/Button.gpdsc
/examples/projects/NUCLEO-L432KC/button/.mxproject
/examples/projects/NUCLEO-L432KC/gate/.mxproject
/examples/projects/NUCLEO-L432KC/gate/Gate.gpdsc
/examples/projects/NUCLEO-L432KC/led/Led.gpdsc
/examples/projects/NUCLEO-L432KC/led/.mxproject
/examples/projects/STM32F4-discovery/Button/.mxproject
/examples/projects/STM32F4-discovery/Button/Button.gpdsc
/examples/projects/STM32F4-discovery/gate/.mxproject
/examples/projects/STM32F4-discovery/gate/Gate.gpdsc
/examples/projects/SAMD21XPLAINED/bootloader/firmware/luos_bootloader_samd21j18a.X/build/
/examples/projects/SAMD21XPLAINED/bootloader/firmware/luos_bootloader_samd21j18a.X/.generated_files/
/examples/projects/SAMD21XPLAINED/bootloader/firmware/luos_bootloader_samd21j18a.X/dist/
examples/projects/ESP32/button/sdkconfig.esp32dev
examples/projects/ESP32/led/sdkconfig.esp32dev
tool_services/pipe/WS/ARDUINO/arduinoWebSockets/
mongoose/
