**/.DS_Store
.DS_Store
.pio/**
.vscode/**
.mxproject
.osx.project
.project
.cproject
*.xml
fp-lib-table
*bak
*.wrl
sym-lib-table
*.lib
*.dcm
boards/l0_light_sensor/l0_light_sensor
*.gpdsc
Drivers/**
startup/**
*.ld
**.s
inc/stm32f0xx_hal_conf.h
