**/.DS_Store
.DS_Store
.pio/**
.vscode/**
.mxproject
.osx.project
.project
.cproject
*.xml
fp-lib-table
*bak
*.wrl
sym-lib-table
*.lib
*.dcm
boards/l0_USB/l0_USB
boards/l0_ESP32/l0_ESP32
*.gpdsc
Drivers/**
startup/**
**.s
*.ld
inc/stm32f0xx_hal_conf.h
