**/.DS_Store
.DS_Store
.pio/**
.vscode/**
.mxproject
.osx.project
.project
.cproject
*.xml
fp-lib-table
*bak
*.wrl
sym-lib-table
*.lib
*.dcm
boards/l0_IMU_MPU9250/l0_IMU_MPU9250
*.gpdsc
modules/Imu/.gitignore
Drivers/**
startup/**
**.s
*.ld
inc/stm32f0xx_hal_conf.h
